

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.heading {
    width: 100%;
    height: 69px;
    background-color: #ec362d;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
}
    .heading h1 {
        font-size: 37px;
        color: #fff;
        font-weight: bold;
    }



.feed {
    width: 1051px;
    margin: 150px auto 0;
    border: 1px solid #fafafa;
}
    .feed .created-empty {
        height: 181px;
        border: 1px dashed #d4d4d4;
        border-radius: 5px;
        margin-bottom: 100px;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .feed .created-empty p {
            font-size: 20px;
            color: #b9b9b9;
            text-align: center;
        }
        .feed .created-empty button {
            width: 151px;
            height: 40px;
            background-color: #fafafa;
            border: 1px dashed #ec362d;
            border-radius: 50px;

            font-size: 21px;
            color: #ec362d;

            margin-top: 20px;
        }

    .feed .my-quizzes .title{
        display: flex;
        align-items: center;
    }
    .feed .my-quizzes .title ion-icon {
        font-size: 32px;
        color: #ec362d;
        margin-left: 10px;
    }

    .feed h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 12px 0;
    }
    .feed .all-quizzes {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
        .quizz-thumb {
            width: 340px;
            height: 181px;
            border-radius: 5px;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 70%, #000), url("https://wallpaperaccess.com/full/2752593.jpg");
            background-position: center;
            background-size: contain;

            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 12px;
            margin-right: 14px;
        }
        .quizz-thumb:nth-of-type(3n) {
            margin-right: 0;
        }
        .quizz-thumb p {
            font-size: 19px;
            color: #fff;
            padding: 15px;
        }



.img-title {
    margin-top: 69px;

    height: 230px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/f6/6c/31/f66c31a8ce52cb66075745e5e3efc987.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
    .img-title h2 {
        font-size: 39px;
        color: #fff;
    }

.quizz-feed {
    width: 700px;
    margin: auto;
}
    .quizz-feed .quizz-question {
        margin: 100px 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        .quizz-feed .quizz-question .quizz-title {
            width: 100%;
            height: 140px;
            background-color: #434CA0;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 23px;
            font-weight: bold;
            color: #fff;
        }
        .quizz-feed .quizz-question .quizz-answer {
            margin: 20px 0;
        }
        .quizz-feed .quizz-question .quizz-answer p {
            font-size: 20px;
            font-weight: bold;
            padding: 10px 0;
        }
        .quizz-feed .quizz-question .quizz-answer img {
            width: 340px; 
            height: 170px;
        }

.green {
    color: #009C22;
}
.red {
    color: #FF4B4B;
}
.transparent {
    opacity: 0.4;
}

.quizz-end {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .quizz-end .quizz-title {
        width: 100%;
        height: 140px;
        background-color: #ec362d;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 23px;
        font-weight: bold;
        color: #fff;
    }
    .quizz-end .quizz-message {
        width: 100%;
        margin: 20px 0 50px;

        display: flex;
        justify-content: space-between;
    }
        .quizz-end .quizz-message span {
            margin-left: 20px;

            font-size: 19px;
            font-weight: bold;
            color: #484848;
        }
    .quizz-end .restart {
        height: 50px;
        width: 260px;
        margin-bottom: 20px;
        background-color: #ec362d;
        border: none;
        border-radius: 15px;

        font-size: 21px;
        color: #fff;
    }
    .quizz-end .home {
        font-size: 21px;
        color: #818181;

        height: 50px;
        width: 260px;
        background-color: #fafafa;
        border: none;
    }





.flex {
    display: flex;
}






































/*----------------------------CSS Desktop 8-11------------------------------*/

/*------------------------Desktop 8--------------*/
.create{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*.create.quizz h1{
    font-size: 23px;
    margin-bottom: 27px;
    font-weight: bold;
}*/

.quizz-info{
    width: 600px;
    height: 256px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 85px;
}

   
/*------------------------Desktop 9--------------*/
/*.questions h1, .create.quizz h1{
    font-size: 23px;
    margin-bottom: 27px;
    font-weight: bold;
}*/

/*.pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-bottom: none;
}*/

.pergunta h2{
    margin-left: 18px;
}



.edit-icon{
    width: 30px;
    height: 30px;
    margin-right: 18px;
}

/*.question{
    width: 600px;
    height: 770px;
    background-color: white;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-top:none;
    
}*/

.false-answers li div.answer-f-img{
    margin-bottom: 32px;
}



.questions, .create.quizz, .levels, .complete-quizz{
    margin-top: 140px;
}





/*---------------------------desktop 10----------------------*/

.level, .question{
    width: 600px;
    /*height: 770px;*/
    background-color: white;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-top:none;
}

.level-container{
    display: flex;
    flex-direction: column;
    
}

.level-container span{
    margin-bottom: 0;
}

.lvl, .pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 564px;
    /*background-color: white;*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);*/
    /*border-bottom: none;*/
}

/*----------------------------------desktop 11-----------*/
.complete{
    width: 500px;
    height: 266px;
    background: linear-gradient(180deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(0, 0, 0, 0.5) 65.62%, 
    rgba(0, 0, 0, 0.8) 100%), 
    url(../images/dumbledore.png);
    position: relative;
    margin-top: 46px;
}

.complete span{
    width: 309px;
    height:54px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    /*background-color: red;*/
    color: white;
    left: 15px;
    bottom: 5px;
    font-size: 23px;
}

.create.complete-quizz button{
    width: 220px;
}

.complete-quizz .toHome{
    width: 220px;
    height: 44px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #818181;
    font-size: 21px;
}

/*--------------todas as divs que seguram input----*/
.question .question-text-color div, .quizz-info div, 
.answer-true div, .false-answers li div, .level .level-container div{
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}


/*-------------------todos os h2 dentro da li de criar perguntas------------------*/

.questions-list h2, .levels h2{
    margin-top: 27px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

.question .pergunta, .false-answers h2 .level h2{
    width:564px ;
}
       /* .answer-true h2, .question .pergunta{
            margin-top: 27px;
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: bold;
        }*/

/*--------------------- todos os inputs----------------------*/
.question input, .quizz-info input, .level input{
    width: 460px;
    height: 22px;
    margin-left: 23px;
    border: none;

}

.quizz-info input::placeholder, 
.question input::placeholder,
.level input::placeholder{
    font-style: italic;
    font-size: 19px;
    font-weight: normal;
}


/*----------------------Todos oh h1----------------*/

.questions h1, .create.quizz h1, .levels h1, .complete-quizz{
    font-size: 23px;
    margin-bottom: 27px;
    font-weight: bold;
}

/*------------------------Todos os botoes---------------*/

.create.quizz button, .questions button, .complete-quizz button{
    width: 368px;
    height: 54px;
    border-radius: 15px;
    background-color: red;
}

.create.quizz button span, .questions button span, .complete-quizz button{
    color: white;
    font-size: 21px;
}

.questions button, .complete-quizz button{
    margin: 20px 0 20px 0;
}

   




/*---------------------------------animacao de drop down------------*/
.drop{
    animation-name: drop;
    animation-duration: 0.75s;
}



@keyframes drop {
   from{opacity: 0;
    /*transform: translateY(-100px);*/
        }
   to{opacity: 1;
    /*transform: translateY(0);*/
    }
   
    /* from{transform: translateY(-1px);}
    to{ transform: translateY(0);}*/

}











.control-buttons{
    position: fixed;
    bottom: 0;
}


.hidden{
    display: none;
}